 <h1><center> <font color='green'>Laboratorio 2: Limpieza de DATOS</font></center></h1> 

 <h1>Nombre: Molina Joel </h1> 
  <h1> ID: L00385791 </h1> 
 <h1> NRC: 6492 </h1>

## Librerías

In [1]:
'''Importación de las diferentes librerias a utilizar para la limpieza de datos'''
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sn

In [2]:
'''Seguidamente, mediante la librería pandas leemos el dataset'''
df_Datos = pd.read_csv("data_act_01.csv", sep =';')
df_Datos

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

## Análisis del DataSet

In [3]:
'''Verificamos el tamaño del dataSet mediante el comando shape'''
print("Tamaño del conjunto de datos: " , df_Datos.shape)

Tamaño del conjunto de datos:  (10051, 12)

In [4]:
'''Utilizamos la función info() para obtener información sobre las diferentes columnas de nuestro DataSet'''
df_Datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

In [5]:
'''Utilizamos la función describe con el argumento include='O' para saber la descripción de las diferentes columnas 
    de nuestro DataSet. Dicha descripción nos proporciona la cantidad de datos, los valores únicos, el valor que más se repite
    y la frecuencia'''
df_Datos.describe(include='O')

,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
count,10051,10051,10051,10051,10051,10051,9730,10048,10051,10051
unique,575,9,1416,5116,19,5387,8,1,2,6
top,Traffic Stop,2016-04-02T00:00:00,17:39,2016-04-04T12:23:00,HAN,900 Block Of Market St,San Francisco,CA,1,Premise Address
freq,1215,2259,19,8,2820,58,9665,10048,10048,5059

## Limpieza del dataSet

 <h3> <font color='orange'>VALORES NULOS</font></h3>

In [6]:
''' Verificamos los valores nulos de las columnas de nuestro DataSet'''
valoresnulos_Data = df_Datos.isna().sum()
valoresnulos_Data

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

Como podemos visualizar, tenemos que hay una cantidad extensa de datos nulos en la columna Range. Por lo que, procedemos a eliminar dicha columna.

In [7]:
'''Eliminamos la columna Range del DataSet'''
df_DatosLimpios = df_Datos.drop(['Range'], axis=1)
df_DatosLimpios

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

In [8]:
'''Verificamos los datos de nuestro dataset que cuentan con valores nulos'''
df_DatosLimpios[df_DatosLimpios.isna().any(1)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
86,160920001,Traffic Stop,2016-04-01T00:00:00,0:00,2016-04-01T00:00:00,ADM,16th/deharo,NaN,CA,1,Geo-Override
88,160920004,Passing Call,2016-04-01T00:00:00,0:00,2016-04-01T00:00:00,HAN,Duboce Triangle,NaN,CA,1,Geo-Override
100,160920020,Passing Call,2016-04-01T00:00:00,0:05,2016-04-01T00:05:00,HAN,9th Ave/irving St,NaN,CA,1,Geo-Override
112,160920032,Passing Call,2016-04-01T00:00:00,0:13,2016-04-01T00:13:00,HAN,3rd Ave & Geary Blvd,NaN,CA,1,Geo-Override
117,160920043,Passing Call,2016-04-01T00:00:00,0:18,2016-04-01T00:18:00,Not recorded,Geary/3rd Ave,NaN,CA,1,Geo-Override
...,...,...,...,...,...,...,...,...,...,...,...
9867,160963421,Passing Call,2016-04-05T00:00:00,19:07,2016-04-05T19:07:00,Not recorded,Crocker Amazon Park,NaN,CA,1,Geo-Override
9923,160963626,Passing Call,2016-04-05T00:00:00,20:11,2016-04-05T20:11:00,Not recorded,Haight Street Corridor,NaN,CA,1,Geo-Override
10029,160964141,Passing Call,2016-04-05T00:00:00,23:09,2016-04-05T23:09:00,HAN,101 Broad,NaN,CA,1,Geo-Override
10032,160964151,Passing Call,2016-04-05T00:00:00,23:14,2016-04-05T23:14:00,HAN,Division/harrison,NaN,CA,1,Geo-Override
10033,160964157,Passing Call,2016-04-05T00:00:00,23:16,2016-04-05T23:16:00,HAN,Campton Alley,NaN,CA,1,Geo-Override

In [9]:
'''Reemplazo de los valores nulos de la columna City por "valores sin registro" '''
cambioValor = {'City': 'Valores sin registro'}
df_DatosLimpios.fillna(value=cambioValor, inplace=True)
'''Visualizar los registros con datos nulos'''
df_DatosLimpios

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

In [10]:
'''De igualmanera se reemplaza los valores nulos de la columna State por N/A'''
cambioValor = {'State': 'N/A'}
df_DatosLimpios.fillna(value=cambioValor, inplace=True)
'''Visualizar los registros'''
df_DatosLimpios

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

In [11]:
'''Verificamos nuevamente los datos de nuestro dataset que cuentan con valores nulos, teniendo como resultado 
    nuestro dataSet sin valores nulos'''
df_DatosLimpios[df_DatosLimpios.isna().any(1)]

Empty DataFrame
Columns: [CrimeId, OriginalCrimeTypeName, OffenseDate, CallTime, CallDateTime, Disposition, Address, City, State, AgencyId, AddressType]
Index: []

 <h3> <font color='purple'>VALORES DUPLICADOS</font></h3>

In [12]:
'''Visualizamos si existen filas iguales en nuestro dataSet'''
df_DatosLimpios[df_DatosLimpios.duplicated()]

Empty DataFrame
Columns: [CrimeId, OriginalCrimeTypeName, OffenseDate, CallTime, CallDateTime, Disposition, Address, City, State, AgencyId, AddressType]
Index: []

In [13]:
'''Visualizamos si existen registros duplicados de la columna CrimeId de nuestro DataSet'''
df_DatosLimpios[df_DatosLimpios.duplicated(subset=['CrimeId'], keep=False)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
26,160913455,Vandalism,2016-03-31T00:00:00,20:53,2016-03-31T20:53:00,ND,1600 Block Of Sunnydale Av,San Francisco,CA,1,Premise Address
1707,160913455,Susp,2016-04-01T00:00:00,18:29,2016-04-01T18:29:00,GOA,Geary St/larkin St,San Francisco,CA,1,Intersection
3792,160913455,Passing Call,2016-04-02T00:00:00,17:11,2016-04-02T17:11:00,Not recorded,900 Block Of Market St,San Francisco,CA,1,Premise Address
7045,160950496,Passing Call,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,HAN,University St/felton St,San Francisco,CA,1,Intersection
7046,160950496,Suspicious Vehicle,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,ND,1400 Block Of Cabrillo St,San Francisco,CA,1,Premise Address
7047,160950496,Trespasser,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,CAN,Block Of Hampshire St,San Francisco,CA,1,Premise Address

In [14]:
  '''Eliminamos los registros duplicados de la columna CrimeId de nuestro DataSet'''
df_DatosLimpios.drop_duplicates(subset=['CrimeId'], inplace = True)
'''Verificar los valores nulos de la columna CrimeId, teniendo como resultado que no cuentan con valores nulos'''
df_DatosLimpios[df_DatosLimpios.duplicated(subset=['CrimeId'], keep=False)]

Empty DataFrame
Columns: [CrimeId, OriginalCrimeTypeName, OffenseDate, CallTime, CallDateTime, Disposition, Address, City, State, AgencyId, AddressType]
Index: []

 <h3> <font color='purple'>VALORES ÚNICOS</font></h3>

In [15]:
'''Visualizamos los valores únicos de la columna  CrimeId de nuestro DataSet'''
df_DatosLimpios['CrimeId'].unique()

array([160903280, 160912272, 160912590, ..., 160964227, 160964229,
       160964249], dtype=int64)

In [16]:
'''Visualizamos los valores únicos de la columna  OriginalCrimeTypeName de nuestro DataSet'''
df_DatosLimpios['OriginalCrimeTypeName'].unique()

array(['Assault / Battery', 'Homeless Complaint', 'Susp Info', 'Report',
       '594', "Ref'd", 'Agg Assault / Adw Dv', 'Encampment', 'Burglary',
       'Suspicious Person', 'Ip', 'Arrest Made', 'Tent',
       'Intoxicated Person', 'Guitar', 'H&r Veh Accident', 'Music',
       'Person Dumping', 'Vandalism', 'Petty Theft', '415',
       'Noise Nuisance', 'Fraud', 'Rep', 'Meet W/citizen',
       'Prisoner Transport', 'Poss', 'Trespasser', 'Stolen Vehicle',
       'Fight No Weapon', 'Check For Ped', 'Juvenile Disturbance',
       'Party', 'Lltd', 'Robbery', '601', '500e', '913', 'Traffic Stop',
       '909', 'Person W/gun', 'Suspicious Vehicle', 'Fight No Weapon Dv',
       'Audible Alarm', 'Parking', 'Pay', 'Silent Holdup Alarm',
       'Passing Call', 'Sleeper', 'Family', 'Thumping', 'Loud Music',
       '916', 'Att', 'Threats / Harassment', 'Boombox',
       'Traf Violation Tow', 'Dw', 'Bar Check', 'Suicide Attempt', 'Susp',
       'Crosswalk', 'Casing/917', 'Wireless-Drop', 'Uc Hastings/405',
       'Bomb Threat', 'Mentally Disturbed', 'Silent Alarm',
       'Traf Violation Cite', 'Person Breaking In', 'Complaint Unkn',
       '811', 'Casing', 'Prowler', 'Shots Fired', 'Shooting', '915',
       'Citizen Arrest', '919', '417', 'Person Screaming',
       'Well Being Check', '917', '917/811', 'Jo/bolo',
       'Wanted Vehicle / Sub', 'Ug', 'Poss Ip', 'Hold-Up', '531', 'Fare',
       'Construction', 'Drugs', 'Campers', 'Poss/601',
       'Assault / Battery Dv', 'X', 'Return', 'Rtl', 'Verbal', '518',
       'Meet W/officer', '488', 'Awol', 'Strongarm Robbery', 'Aggressive',
       'Male', "Veh's", 'Rz', 'Sw', 'Encampent', 'Loitering',
       'Muni Inspection', 'Auto Boost / Strip', 'Jo', 'Dw/rz', '22500e',
       'Sleepers', 'Fire', 'Mal', 'Trc 7.2.46', 'Reckless', 'Camper',
       '22500f', 'City Veh', 'Openline', 'Indecent Exposure',
       'Injury Veh Accident', 'Rept', 'Cw', '851', 'Prem Check',
       'Person W/knife', 'Ringing Doorbell', 'Veh Accident',
       'Sleeper 601', 'I/p', 'Video', 'Unoccupied', 'R/o Violation',
       'Psych Eval / Hold', 'Missing Adult', 'Vehicle Alarm',
       'Person Down', '418', 'Found Drugs', 'Citizen Standby', 'Yelling',
       '7.2.41', 'Lltn', '7.2.45', 'Nabor', 'X 594', 'Glass Bottles',
       'Missing Juvenile', 'Sexual Assault Juve', '852', 'Escalating',
       'Demo / Protest', 'Death / Coroner', 'Jjo', 'Vc21113a',
       'Aggressive 601', 'Sexual Assault Adult', '601 Ug',
       'Recover Missing Veh', 'Npat', 'Aggr Soliciting', '7.2.46',
       'Dog Barking', '800', 'Grand Theft', 'Rz/dw',
       'H&r Injury Accident', 'Pepperspray', '22500e/22500b', 'Vendors',
       'Agg Assault / Adw', 'Crack', '905/muni', 'Opp', '311',
       'Stolen Property', 'Poss Caser', '22500h', '22514',
       'Senile Person', '311 X', 'Selling Foods', 'Muni', 'Elevator',
       'Veh', 'Ll/td', '221', 'Static', 'Road Rage', 'W/a Hammer',
       '221 Poss', 'At Risk', 'Drop', 'Juve Beyond Control', '22500e/.25',
       'Squattters', 'Illegal Vendor', '7.2.25', 'Parking Space',
       'Susp Poss', '22500a', '913/child', 'Dancer', '500f', '500h',
       '7.2.28', 'Drinking', '240/spit', 'Poss 5150', 'Ped',
       'Pepper Spray', '222', '487', '368ca Poss', '470', '22500i',
       'Panic Alarm', 'Drugs Needles', '911 Hu', 'Purse Snatch',
       '212 Poss', '7.2.26', 'Custody', '7.2.27', '22500eal',
       'Resisting Arrest', 'Mc', 'Dirtbikes', 'Gamblers', 'Drugs/dealing',
       'Drunk Driver', 'Ret', 'Spitter', 'Prostitute/solicite',
       'Aided Case', '22500f/cw', 'Suspect', '518/muni', '22500b',
       'Barking', '7.2.32', 'Bat', 'Dirtbikes/586', '213', 'Encampments',
       '7.2.38', '7.2.40', 'Ll/ll', 'Adv', 'Chp', '911-Drop', 'Hammer',
       'Open Line', 'Physical', 'Dog', '915 Sleeper', '910',
       'Pay Dispute', '245', 'Keys', 'Nabors', '650', 'Opportunist',
       'Live Band', 'Recorder', 'Female', 'Poss 152', 'Poss Casing',
       '915 Encampment', 'Tx To Chp', 'Party Yelling', '852 Poss',
       "Juv's", '586/poss 588', '5150', 'At The Atm', 'Male/poss Hazard',
       'Heated', 'Adv To 0123', 'Busn', 'Dw Tow', 'Band', 'Kidnapping',
       'Poss Attempt', 'Driveway', 'Threats Dv', '415 Music',
       'Att/240 Jo', '5150 Poss', 'Stick', 'Spike', '647b Poss', 'Alarm',
       'Sideshow', '22502a', 'Taxi Zone', 'Graffiti Vandalism', '601 Rtl',
       'Living', 'Roof', 'Dp', '22500l', '801 Poss', 'J/o', 'Gz', 'Caser',
       'Wz', '519', 'Poss Escalating', 'Sign', 'Ambulance', 'Drops//busn',
       'Suspects', '811 Male', 'Camp', 'Attemp', 'Drinkers', 'Uwg', 'Lp',
       'H&r', 'Poss 207', 'Tree Bark', 'Poss 800', 'Vendor', 'Casing/852',
       'Ro Viol', '519 Poss', '9915', 'Pups', '518hr', 'Reckless Mcs',
       '586', '800attempt', 'Follow Up', 'Chop Shop', 'Paydispute',
       'Illegal Gambling', 'Rep Identity Theft', '225800e',
       '852 Occupied', '594 Poss', 'Busn/voip', 'Roadrage', '252500e',
       '420 Drugs', '912', 'Sudrugs', 'Fi**expedite**', 'Rtl/aggressive',
       'Ro Violation', 'Tow Truck', '800 Poss', '*909*', '22500',
       '152 Jo', '7.2.25/2250e', 'Agressive', 'Pay Dis', 'Rtl Cab',
       'Drummer', '22500f/7.2.70', 'Person W/knife Dv', 'Hu', '800  Poss',
       '152 Poss', 'Elderly X', 'Hold Up', 'Chp 1030 Veh', 'Sagressive',
       'Bart', '240 Poss', 'Illegal Vendors', 'Loud Party', 'Stabbing',
       'Roomate', 'Fireworks', 'Property', 'Iph', 'Bottles', 'Cane',
       'Get Inside The Bldg', 'Music/909', 'Panic', '601rtl',
       'Vandalism Dv', 'Neighbors', 'Open', 'Poss/910prem Check',
       'Stattic', '594 Ip', '601uwg', '911', 'Poss 519', 'Making A Mess',
       'Campers W/bikes', 'Pos Jumper', 'Doorway/917', 'Camping',
       '**Tazer**', 'Loading Dock', 'Bl', 'Naked', 'Attempt',
       'Explosive Found', 'Car Campers', '915 Campers',
       'Poss Unreported 1030', 'Subj', 'Fp', 'Gambling', 'Wild',
       '5150 Hold Poss', '419', '7.2.41/22500f', 'Shooting Up',
       'St Vendors', '22500e/rz', 'Person Break In Dv', 'Veh W/open Door',
       '22507.8a', 'Poss 801', '901 For 909', 'Unocc', 'Samurai',
       '911 Open', 'Poss/851 Attemp Poss', 'Drugdealer', "Mc's", 'S',
       'Rp', '459', 'Atc', '915s', 'Rtl/811', '420', 'Amplified',
       'Tra7.2.37', 'Casers', 'Jump', 'Dismember Body Part', 'Poss/420',
       '500b', '7.2.25/22500e', 'Busy', '528 Poss', 'Poss Walk Thru',
       'Mace', 'Child', 'Loud Bass', 'Spit', 'Prem', 'Roof Squatters',
       '.25/500e', '910 X', 'Drug Use', 'In Svc/ On Foot', 'Explosion',
       'Scratch', '916/music', 'Return Call', 'Verbals', '100v',
       'Loud Talking', '601/415', 'Hot', 'Cassing', 'Poss 488', 'A',
       '152', '601/311', 'Trc 7.2.45', 'Cz', 'Silent', 'Poss Hazard',
       '502a', '801 Threats', 'Home Invasion', '911 Drop', 'Tz', 'Npa',
       'Toilet', 'Dropped Call', '459 Attempt', 'Ucpd', 'Jumper',
       'Dog Bite', '909x', 'Attempt Report', 'Tro', 'Stepping On Plants',
       'Muni Alarm', 'Ld', '240/602 Suspect', 'Poss Susp', '311x/poss800',
       'Dogs Barking', 'Panhandler W/pitbull', 'Video Surveillence',
       'H/r', '221/222 Poss', 'Areport', 'Protestors', '470 Poss',
       'Broken Window', '`Drugs', 'Haz', 'House', '418rm', '240', '21211',
       'Att Jo', "Loud Subj's", '811 Poss', '601/488', '7.2.70', 'Resd',
       'Maced', '801', 'Suatters', '22514/500b', '212', '911 Open Line',
       'Recycling', 'Park Ranger', 'Curb', 'Pills', 'Ll/ Tenant',
       '219/601', 'Ifo', '911 Hu Call', '920 Rtl', 'Poss Att', 'Att Only',
       'Ams', '***901 Req***', 'Drugs/915', 'Rpt', 'Children', '500e/rz',
       'Vehicle', 'Ug Rtl', '601/family', 'Death', 'Att Susp', '9909',
       '2 Reps', 'Vending', 'Drp', 'Brewing/pay Dispute', 'Skateboarders',
       'Sonitrol', 'Wreckless Driver', '148', 'Bicylist', '852 Casing',
       'Nabo', 'R.o. Violation', '910 Poss', '22500e/500h', 'Pay Disp',
       '22654e', 'Brewing', '.52', 'Phys', '222 Att', 'Wireless-Open',
       'Adv To Co A', 'Wireless-H/u'], dtype=object)

In [17]:
'''Visualizamos los valores únicos de la columna  OffenseDate de nuestro DataSet'''
df_DatosLimpios['OffenseDate'].unique()

array(['2016-03-30T00:00:00', '2016-03-31T00:00:00',
       '2016-04-01T00:00:00', '2016-04-02T00:00:00',
       '2016-04-03T00:00:00', '2016-04-04T00:00:00',
       '2013-04-04T00:00:00', '2025-04-04T00:00:00',
       '2016-04-05T00:00:00'], dtype=object)

Como se puede visualizar el tipo de dato de la columna OffenseDate es de tipo object pero el formato es tipo Date time, por lo que cambiamos el formato de la columna OffenseDate. Esto se realiza para que posteriomente si se quiere realizar operaciones con dicha columna no haya errores, ya que en el formato fecha es eficiente al momento de realizar operaciones con fechas.

In [18]:
 '''Cambio del formato de la columna OffenseDate a datatime'''
df_DatosLimpios['OffenseDate'] = pd.to_datetime(df_DatosLimpios['OffenseDate'], format='%Y/%m/%d %H:%M:%S')

In [19]:
'''Verificamos que los cambios se hayan realizado correctamente'''
df_DatosLimpios['OffenseDate'].unique()

array(['2016-03-30T00:00:00.000000000', '2016-03-31T00:00:00.000000000',
       '2016-04-01T00:00:00.000000000', '2016-04-02T00:00:00.000000000',
       '2016-04-03T00:00:00.000000000', '2016-04-04T00:00:00.000000000',
       '2013-04-04T00:00:00.000000000', '2025-04-04T00:00:00.000000000',
       '2016-04-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [20]:
'''Visualizamos los valores únicos de la columna  CallTime de nuestro DataSet'''
df_DatosLimpios['CallTime'].unique()

array(['18:42', '15:31', '16:49', ..., '6:12', '6:33', '6:55'],
      dtype=object)

In [21]:
'''Visualizamos los valores únicos de la columna  CallDateTime de nuestro DataSet'''
df_DatosLimpios['CallDateTime'].unique()

array(['2016-03-30T18:42:00', '2016-03-31T15:31:00',
       '2016-03-31T16:49:00', ..., '2016-04-05T23:43:00',
       '2016-04-05T23:48:00', '2016-04-05T23:54:00'], dtype=object)

De igualmaner se puede visualizar el tipo de dato de la columna CallDateTime es de tipo object pero el formato es tipo Date time, por lo que cambiamos el formato de la columna CallDateTime. Esto se realiza para que posteriomente si se quiere realizar operaciones con dicha columna no haya errores, ya que en el formato fecha es eficiente al momento de realizar operaciones con fechas.

In [22]:
 '''Cambio del formato de la columna CallDateTime a datatime'''
df_DatosLimpios['CallDateTime'] = pd.to_datetime(df_DatosLimpios['CallDateTime'], format='%Y/%m/%d %H:%M:%S')

In [23]:
'''Verificamos que los cambios se hayan realizado correctamente'''
df_DatosLimpios['CallDateTime'].unique()

array(['2016-03-30T18:42:00.000000000', '2016-03-31T15:31:00.000000000',
       '2016-03-31T16:49:00.000000000', ...,
       '2016-04-05T23:43:00.000000000', '2016-04-05T23:48:00.000000000',
       '2016-04-05T23:54:00.000000000'], dtype='datetime64[ns]')

In [24]:
'''Visualizamos los valores únicos de la columna  Disposition de nuestro DataSet'''
df_DatosLimpios['Disposition'].unique()

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'Not recorded',
       'CIT', 'PAS', 'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', '22',
       'CRT', 'SFD'], dtype=object)

Como podemos verificar los registros de la columna Disposition hay dos valores q no concuerdan con los demás datos, estos valores son Not recorded y 22. Por lo que, realizamos el cambio de estos dos registros por un valor concordante al conjunto de datos. Al registro Not recorded le cambiamos el valor por las siglas NR y el 22 por el valor de la moda.

In [28]:
'''Calculamos la moda de la columna Disposition '''
moda= df_DatosLimpios['Disposition'].mode()
'''Imprimimos la moda'''
moda

0    HAN
Name: Disposition, dtype: object

In [33]:
'''Se realizan cambios en la columna Disposition'''
df_DatosLimpios['Disposition']= df_DatosLimpios['Disposition'].replace('22', moda[0])
df_DatosLimpios['Disposition']= df_DatosLimpios['Disposition'].replace('Not recorded', 'NR')

In [34]:
'''Visualizamos los valores únicos de la columna  Disposition de nuestro DataSet'''
df_DatosLimpios['Disposition'].unique()

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'NR', 'CIT', 'PAS',
       'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', 'CRT', 'SFD'],
      dtype=object)

In [35]:
'''Visualizamos los valores únicos de la columna  Address de nuestro DataSet'''
df_DatosLimpios['Address'].unique()

array(['100 Block Of Chilton Av', '2300 Block Of Market St',
       '500 Block Of 7th St', ..., 'Hollister Av/hawes St',
       'Rosella Ct/onondaga Av', '0 Blk Herbst Rd'], dtype=object)

In [36]:
'''Visualizamos los valores únicos de la columna  City de nuestro DataSet'''
df_DatosLimpios['City'].unique()

array(['San Francisco', 'Valores sin registro', 'Daly City',
       'Treasure Isla', 'Yerba Buena', 'SAN FRANCISCO', 'Presidio', ' S',
       'Brisbane'], dtype=object)

Como podemos visualizar en la columna City hay valores no coherentes como el registro San Franciso que está escrito todo en mayúsculas y otros registros escrito de la siguiente manera: "San Francisco". Por otro lado, tambien podemos visualizar que esxisten registros con valores S. Por lo que, realizamos el cambio de los datos de San Francisco en mayúscula por el siguiente formato:"San Francisco". Además, los registros con el valor de "S" de igual manera se cambian a "San Francisco".

In [37]:
 '''Se realizan cambios en la columna Disposition'''
df_DatosLimpios['City']= df_DatosLimpios['City'].replace('SAN FRANCISCO', 'San Francisco')
df_DatosLimpios['City']= df_DatosLimpios['City'].replace(' S', 'San Francisco')

In [38]:
'''Visualizamos los valores únicos de la columna  City de nuestro DataSet'''
df_DatosLimpios['City'].unique()

array(['San Francisco', 'Valores sin registro', 'Daly City',
       'Treasure Isla', 'Yerba Buena', 'Presidio', 'Brisbane'],
      dtype=object)

In [39]:
'''Visualizamos los valores únicos de la columna  State de nuestro DataSet'''
df_DatosLimpios['State'].unique()

array(['CA', 'N/A'], dtype=object)

In [40]:
'''Visualizamos los valores únicos de la columna  AgencyId de nuestro DataSet'''
df_DatosLimpios['AgencyId'].unique()

array(['1', 'CA'], dtype=object)

Como podemos visualizar en la columna AgencyId existe un valor numérico y un String. Por lo que, realizamos un mapeo de los datos, el registro con el valor "CA" lo mapeamos con el valor de 2.

In [47]:
dataAgencyId = {'1': 1, 'CA': 2}
df_DatosLimpios['AgencyId'] = df_DatosLimpios['AgencyId'].map(dataAgencyId)

In [48]:
'''Visualizamos los valores únicos de la columna  AgencyId de nuestro DataSet'''
df_DatosLimpios['AgencyId'].unique()

array([1, 2], dtype=int64)

In [41]:
'''Visualizamos los valores únicos de la columna  AddressType de nuestro DataSet'''
df_DatosLimpios['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', 'Intersectioon', '1'], dtype=object)

Como se puede visualizar en el paso anterior, en la columna AddressType hay un registro erróneo. Este registro erróneo es "Intersectioon", ya que su valor debería ser  "Intersection". Por lo que, se realiza el cambio de su valor, por su valor correcto. Además, el registro con el valor 1 lo cambiamos por la moda.

In [42]:
'''Se realizan cambios en la columna AddressTypen'''
df_DatosLimpios['AddressType']= df_DatosLimpios['AddressType'].replace('Intersectioon', 'Intersection')

In [43]:
'''Visualizamos los valores únicos de la columna  AddressType de nuestro DataSet'''
df_DatosLimpios['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', '1'], dtype=object)

In [44]:
'''Calculamos la moda de la columna Disposition '''
moda= df_DatosLimpios['AddressType'].mode()
'''Imprimimos la moda'''
moda

0    Premise Address
Name: AddressType, dtype: object

In [45]:
'''Se realizan cambios en la columna AddressTypen'''
df_DatosLimpios['AddressType']= df_DatosLimpios['AddressType'].replace('1', moda[0])

In [46]:
'''Visualizamos los valores únicos de la columna  AddressType de nuestro DataSet'''
df_DatosLimpios['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override'], dtype=object)

 <h3> <font color='green'>Comprobación de los tipos de los datos del DataSet</font></h3>

In [50]:
df_DatosLimpios.dtypes

CrimeId                           int64
OriginalCrimeTypeName            object
OffenseDate              datetime64[ns]
CallTime                         object
CallDateTime             datetime64[ns]
Disposition                      object
Address                          object
City                             object
State                            object
AgencyId                          int64
AddressType                      object
dtype: object

 <h3> <font color='brown'>Transformación a formato JSON</font></h3>